#logbtn{
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

#LoginLabel{
    -fx-text-fill: #367ff5;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-border-width: 5px;
    -fx-border-color: #367ff5;
    -fx-border-radius: 5px;
    -fx-padding: 5px; 
}

#Circle{
    -fx-stroke-width: 3px;
    -fx-stroke :#ffffff67;
    /*-fx-stroke: blue;*/
}

#clsbtn:hover{
    
    -fx-background-color:tomato;
    
}

#minbtn:hover{
    -fx-background-color:#4d4de3;
    
    
}



